<%- include('templates/header'); -%>

<div class="container">
    <div class="jumbotron">
        <h1>SEARCH RESULTS</h1>
        <button class='btn btn-info' onclick='location.href="/"'>Search Again</button>
        <ul id="movie-list">
            <% data.Search.forEach(function(book){ %>
            <li>
                <img class="poster" src=<%=book.cover.medium%> />
                <div>
                    <h5><%=book.title%></h5>
                </div>
            </li>
            <% }) %>
        </ul>
    </div>
</div>

<%- include('templates/footer'); -%>